APP_NAME=HariIVF
APP_ENV=development
APP_KEY=base64:Siyw02N968cf4fR1au8zIFVle6/b7/O8J33EEC+0AaU=
APP_DEBUG=true
APP_URL=http://hari_ivf.test/
DO_SPACES_URL= 

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=civora_db
DB_USER=root
DB_PASSWORd=


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=1186751
PUSHER_APP_KEY=c546c9cb82dbe1e4056c
PUSHER_APP_SECRET=fde69f456c768cc38085
PUSHER_APP_CLUSTER=ap2

#TXTLCL_API_KEY=RVmxHUcGTjA-vcHtXeix8D4XxfTsXVUiHk9jFdQs49
#TXTLCL_USERNAME=radhaivf2019@gmail.com
#TXTLCL_HASH=e956cdc54d413febc74f8b0c15631c5b9cfdeae909795bfa7817fe8b6c3325f9
#TXTLCL_URL=http://api.textlocal.in/send/?
#TXTLCL_SENDER=TXTLCL
#TXTLCL_TEST=0

TXTLCL_API_KEY=600565fbbf506
TXTLCL_URL=http://websms.anandkrupapublicity.com/api/push.json?
TXTLCL_SENDER=JRADHA
TXTLCL_ROUTE=trans_dnd
TXTLCL_TEST=0

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_DRIVE_CLIENT_ID=1078465844140-qjb5p7c8vt4h89d68r2p42seal97ino6.apps.googleusercontent.com
GOOGLE_DRIVE_CLIENT_SECRET=79CT42eIxkT7pIlplA0OGUTS
GOOGLE_DRIVE_REFRESH_TOKEN=1//04f5vzK_oeqE1CgYIARAAGAQSNwF-L9IrjdUS5j0hfRsHMlqnjblmqsuMIFGkcQz-kmwNgtwHHPn1pH3Jh_LtMQ6p1w8_Q7NxVbk
GOOGLE_DRIVE_FOLDER_ID=1FN11QU_HpulKp15MgchKLos2nwO7mBAI

COLLECTION_PASSWORD=Clonza@2026!
