.theme-cyan section.content:before, .btn-neutral, .btn-neutral:hover  {
    background-color: transparent;
}
.dash-patient-location{
    min-height: 400px !important;
}
.theme-cyan .navbar,
.theme-cyan .page-loader-wrapper {
    background: #fff;
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: #000;
}

.theme-cyan .card .header h2:before {
    background: transparent;
}

.recVisitButton{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.recButton{
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    color: #FFFFFF;
    font-family: Arial;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
    0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
    50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
    100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}


@keyframes pulse{
    0%{
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
        box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}
@font-face {
    font-family: roboto;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto-black;
    src: url('../fonts/roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: roboto-bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: roboto-condensed;
    src: url('../fonts/roboto/Roboto-Condensed.ttf');
}

@font-face {
    font-family: roboto-light;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: roboto-medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: roboto-thin;
    src: url('../fonts/roboto/Roboto-Thin.ttf');
}

body, .sidebar {
    font-family: sans-serif, Arial;
}

.login-error, #depositerrmsg {
    color: red;
    font-size: 14px;
}
    .theme-cyan .menu>ul>li>ul>li>ul>li a:hover {
background-color: transparent !important;
}

.form-control,
.dropdown-toggle.btn-round,
.input-group-addon {
    border-radius: 10px !important;
}
.form-group .form-control+.input-group-addon, .input-group .form-control+.input-group-addon{
    padding: 9px 10px 5px 10px;
}
.cust-delete-icon-color {
    color: #248afd;
}

.profile_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.cust-notifi-warn {
    margin-left: 20px;
}

.custom-mt-8 {
    margin-top: -8px !important;
}

.authentication .card-plain.card-plain .form-control:focus {
    border-color: #9ca683 !important;
    color: #000 !important;
}

.page-header:before {
    background-color: #fff;
}

.authentication .card-plain.card-plain .form-control {
    border-color: #E3E3E3 !important;
    color: #000 !important;
}

.footer,
.page-loader-wrapper p{
    color: #9ca683;
}

.sidebar .menu .list .ml-menu li a:before {
    content: ' ';
}

.sidebar .user-info a h4 {
    color: #546e7a;
}

.sidebar .user-log-name {
    margin: 0 auto;
    width: 100%;
}

.authentication .card-plain.card-plain .form-control::placeholder {
    color: #cdcdcd;
}

/*custom css all*/
.form-control:focus {
    border: 1px solid #9ca683 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    color: #2c2c2c !important;
}

.form-error-msg {
    margin: 0 10px 10px 10px;
    font-size: 12px;
    display: block;
    color: red;
    text-indent: 10px;
}
.pagination {
    float: right;
    margin-top: 20px;
    margin-right: 60px;
}

.pagination .page-item.active>.page-link,
.pagination .page-item.active>.page-link:focus,
.pagination .page-item.active>.page-link:hover {
    background-color: #9ca683 ;
}

.a-color:hover,
.a-color:focus {
    color: white !important;
}

.white {
    color: white !important;
}

.sidebar .user-info .image img {
    box-shadow: none !important;
}

.set-padding {
    padding-left: 50px !important;
}


.nav-tabs {
    display: flex !important;
}

.nav-menu-font li a i {
    color: #546e7a !important;
}

.nav-menu-font a {
    font-size: 15px;
    padding: 0 5px !important;
    font-weight: 500;
    text-transform: uppercase;
    color: #000 !important;
    font-family: roboto, sans-serif, Arial;
}

.nav-menu-font .active {
    color: red ;
}

.sidemenu_list li a {
    text-transform: uppercase;
    font-size: 15px;
}

textarea.form-control:focus {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.text-wrraping {
    text-overflow: ellipsis;
    width: 115px;
    overflow: hidden;
}

.text-wrraping-name {
    text-overflow: ellipsis;
    width: 210px;
    overflow: hidden;
}

.appointment-opd-tr,.selected-tr{
    background-color: rgba(241, 30, 14, 0.07);
}

.selected-tr:hover {
    background-color: rgba(0, 0, 0, .2) !important;
}

.calendar.left,
.calendar.right {
    display: inline-block !important;
}

.admin-user-img {
    height: 50px;
}

/* CSS by Yogesh */
#popupForButtons {
    display: none;
    min-width: 250px;
    width: 100%;
    margin-left: -125px;
    background-color: #9ca683;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 5px;
    font-size: 17px;
}

#popupForButtons.show {
    visibility: visible;
    display: block;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 5px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 5px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 5px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 5px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    /* .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    } */
}

/* .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
} */

.appointment-data tbody tr td.apt-date:first-child:before {
    content: ' ';
    color: #000000;
    width: 1px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid;
    margin-right: 10px;
}

.appointment-data .new-opd-patient {
    display: inline-block;
}

.appointment-data tbody tr td .new-opd-patient:first-child:before {
    content: ' ';
    width: 1px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: #9ca683;
    margin-right: 10px;
}

#appointment-table .header.custom-dropdown {
    padding: 10px;
}

#appointment-table .header.custom-dropdown .header-dropdown {
    top: -3px;
}

.print-opd-charge {
    display: none;
}

.radha-arrow-back {
    float: left;
}

.medicine-data {
    margin-top: 11px;
}

/* Indoor CSS */
.name.indoor_room {
    background: #e0eff5;
    color: grey;
}

.indoor_widget .name .progress-container .progress {
    background: rgba(66, 66, 66, 0.3) !important;
}

.indoor_widget .name .progress-container .progress .progress-bar {
    background-color: #424242 !important;
}

.indoor_widget .name .progress-container .progress .progress-value ,
.indoor_widget .name .progress-container .progress-badge,.indoor_widget .name h5 {
    color: #424242 !important;
}

#bookpatient-table .patient-srno:first-child:before {
    content: ' ';
    color: #000000;
    width: 1px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid;
    margin-right: 10px;
}

#bookpatient-table .patient-srno .invoice:first-child:before {
    content: ' ';
    width: 1px;
    box-sizing: border-box;
    border: 1px solid;
    border-color: red;
    margin-right: 10px;
}

.roomtype_name h5 {
    margin-top: 0 !important;
    font-size: 18px;
}

.patient_details.panel-group .panel .panel-title .discharge_icon a,
.patient_details.panel-group .panel .panel-title .invoice_icon a {
    padding: 10px 5px;
}

.ivf-patinent-name{
    display: block;
    background: #f4f6f9;
    text-indent: 10px;
}
#patient_name_display {
    color: #000 !important;
}

.patient_detail {
    padding-right: 5px;
}

.patient_detail .col-md-1.displayicons {
    padding: 3px !important;
}

.indoor_detail .indoor_add a {
    color: #00cfd1;
    display: block;
    height: 40px;
}

.indoor_detail .not-active {
    pointer-events: none;
    cursor: default;
    color: rgba(0, 207, 209, 0.5) !important;
}

.indoor_detail .dropdown-menu>li>a {
    color:#000;
}
.indoor_detail #agreements {
    position: relative;
}
.indoor_detail #agreements i{
    margin: 0 auto;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    color: #000;
}
.indoor_detail .agreement-menu {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
    z-index: 1;
    display: none;
    padding-left: 0;
    padding: 5px;
}
.indoor_detail #agreements:hover .agreement-menu {
    display:block;
}
.indoor_detail .agreement-menu li {
    width: 198px;
    padding: 5px 0;
}
.indoor_detail .agreement-menu li a {
    color: #000;
    text-transform: capitalize;
}

.patient_detail .displaylinks {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    font-size: 14px;
    text-align: center;
}

.patient_detail .displaylinks li {
    display: inline-block;
    border-left: 1px solid #000;
    padding: 0 5px;
}

.patient_detail .displaylinks li:first-child {
    border: none;
}

.patient_detail #patient_name_display {
    text-transform: capitalize;
    margin-top: -5px;
}

.patient_detail .displayicons a:hover,
.notes .notes-data  {
    color: #000;
}

.patient-deposits {
    border-top: 2px solid #dee2e6;
    padding: 20px;
}

#patient-deposit-list {
    border: none;
    margin-top: -22px;

}

#patient-deposit-list tr th {
    padding: 12px 12px;
}

#patient-deposit-list tr td {
    padding: 5px !important;
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
    font-family: roboto, sans-serif, Arial;
}

#add_deposit ,#add_comment{
    font-size: 12px !important;
}
.modal-backdrop.show {
    opacity: .5;
    /*z-index: -1 !important;*/
}

#depositModal .modal-footer {
    justify-content: normal !important;
    text-align: left !important;
    display: inline-block !important;
}

#depositModal .modal-header {
    display: inline-block !important;
    padding-top: 0 !important;
}

#depositModal .modal-content {
    padding: 30px !important;
}

#depositModal .print-deposit {
    cursor: pointer;
    font-size: 20px !important;
}

@media screen and (min-width: 768px) {
    #depositModal .modal-dialog {
        width: 700px;
        /* New width for default modal */
    }

    #depositModal .modal-sm {
        width: 350px;
        /* New width for small modal */
    }
}

@media screen and (min-width: 992px) {
    #depositModal .modal-lg {
        width: 700px;
        /* New width for large modal */
    }
}

/**************************************/

.inline {
    display: inline;
}

/* Report CSS */
.report .table td,
.report .table tr,
.report .table thead th,
.report .lower-border {
    border-bottom: none;
}

.report .table tr th {
    font-size: 13px;
    font-family: roboto-bold;
}

.report tr.no-border td,
.report tr.no-border th {
    border: 0;
}

.report tr td.top-border-first,
.report tr th.top-border-first {
    border-top: 2px #000 solid !important;
    border-bottom: none;
}

.report tr td.top-border-second,
.report tr th.top-border-second {
    border-top: #000 double;
}

.report .total-font {
    font-weight: 700;
    text-align: right;
}

.report .headline {
    color: #000;
    font-family: roboto-bold;
    text-align: center;
    font-size: 18px;
}

.report .sub-headline {
    color: #000;
    font-family: roboto-bold;
    text-align: left;
    font-size: 13px;
}

.report .font {
    font-size: 11px;
}

.report table.collection-data tr,
.report table.collection-data td,
.report table.collection-data table tr,
.report .bt-none,
.report .net-total,
.dash-patient-location,
.report-details {
    border: none !important;
}

.report .thead {
    background-color: #c7dfe0;
}
.report .amount {
    font-family: roboto-black;
}

.report .grand-total-top-border {
    border-top: 1px solid #424242 !important;
    border-bottom: none !important;
}

.report .procedure-value {
    font-family: roboto-bold;
}

.event-dashboard {
    overflow-y: auto;
    max-height: 175px !important;
    min-height: 202px !important;
    padding: 5px 22px;
}

.new-patients-display {
    min-height: 387px !important;
}

.new-patients-display tbody tr:first-child td {
    border-top: none !important;
}


.event-list {
    margin: 10px 5px;
}

.event_add {
    padding: 50px;
}

.event_add a i {
    font-size: 40px;
    color: #00cfd1;
}

.event-display .header {
    padding: 20px 20px 0 20px;
}

.no-notes {
    color: #9a9a9a;
}

.add-note-group {
    border-top: 1px solid #ddd;
}

.send-sms-through {
    text-align: right;
    width: 100%;
    margin: 0 30px;
    color: #00cfd1;
    pointer-events: none;
    cursor: default;
    color: rgba(0, 207, 209, 0.5) !important;
}

#send-message .modal-footer {
    display: block !important;
    justify-content: normal !important;
}

.city-background:nth-child(odd) .body {
    background-color: #eceeef !important;
}

.city-background:nth-child(even) .body {
    background-color: #e0eff5 !important;
}

.city-background .body {
    font-size: 13px !important;
    padding: 19px;
}
.charge .button {
    min-width: 61px;
}

.is-disabled {
    pointer-events: none;
}

.appointment-menu-cursor,
#appointment-request-table .apt-approve,
#appointment-request-table .apt-reject ,
.deposit-link,#bookpatient-table,
.patient_detail #deposit_icon,
.patient_detail #direct_discharge_icon,
.indoor_detail #agreements a,
.report .card .header .header-dropdown,
#indoorsetting-table {
    cursor: pointer
}


.gloabal-search .wrapper {
    border: 1px solid #000;
    display: inline-block;
    position: relative;
}

.gloabal-search input,
.gloabal-search button {
    background-color: transparent;
    border: 0;
}

.gloabal-search button {
    position: absolute;
    right: 15px;
    top: 0px;
    padding: 0px 6px !important;
}


.gloabal-search .search-button {
    background-color: #ffffff;
    color: #9ca683;
    cursor: pointer;
}

.gloabal-search input {
    padding-right: 30px;
    text-indent: 12px;
    border-bottom: 1px solid #e3e3e3;
    background-color: transparent;
    width: 100%;
    font-size: 14px;
    color: #828282;
}

.gloabal-search input:focus {
    border-bottom: 1px solid #9ca683;
}

.gloabal-search .form-error-msg {
    text-indent: 0px;
    margin: 0px !important;
}

.patient-profile .member-img {
    margin-top: -67px !important;
}

.patient-profile .header {
    min-height: 109px !important;
}

.patient-profile img {
    width: 98px !important;
}

.lgn-usr-name{
    font-size: 12px;
}

.label-padding-edit-indoor {
    padding: 7px 14px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.selectize-input {
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 17px !important;
    padding-left: 16px;
    padding-right: 16px;
}

.selectize-control.multi .selectize-input.has-items,
.anc .selectize-control.multi .selectize-input.has-items,
.iui .selectize-control.multi .selectize-input.has-items,
.iui-history .selectize-control.multi .selectize-input.has-items,
.ivf .selectize-control.multi .selectize-input.has-items {
    height: auto !important;
    padding: 6px 16px !important;
}

.selectize-dropdown-content {
    height: auto !important;
    font-size: 13px !important;
    line-height: 24px !important;
}

.selectize-dropdown {
    height: auto !important;
    z-index: 1000 !important;
    width: 100% !important;
    margin-top: 11px !important;
    background: #fff !important;
}

/* admin/indoor/index.blade.php css code */
.indoor_detail .panel-body ul li {
    list-style: none;
}

.indoor_detail .panel.l-coral {
    background: transparent !important;
    color: black !important;
}

.indoor_detail .panel-group .panel .panel-heading a ,
.select-padding-0 {
    padding: 0 !important;
}

.indoor_detail .panel-group .panel .panel-body {
    padding: 15px !important;
}

/* admin/indoor/edit.blade.php css cod */
.indoor .body,
.anc .body,
.iui .body,
.iui-history .body{
    min-height: 950px !important;
}

.indoor .dropdown-menu ul,
.appointment .dropdown-menu ul,
.cut-report .dropdown-menu ul,
.reference-doctor-report .dropdown-menu ul,
.patient-report .dropdown-menu ul,
.anc-iui-ivf .dropdown-menu ul,
.anc .dropdown-menu ul,
.iui .dropdown-menu ul,
.ivf .dropdown-menu ul,
.indoor-summary .dropdown-menu ul,
.hormon .dropdown-menu ul,
.reference-doctor .dropdown-menu ul,
.review .dropdown-menu ul,
.select_plan .dropdown-menu ul
{
    max-height: 160px !important
}

.indoor .show-tick {
    display: none !important;
}


/* admin/indoor/invoice.blade.php css code */

.invoice-add .gt-error {
    border: 1px solid #ee2200;
}

.invoice-add .display-error {
    color: #ee2200;
    font-size: 12px;
    padding: 10px;
}



/* admin/indoor/invoiceedit.blade.php */

.invoice-edit input[type=number]::-webkit-inner-spin-button,
.invoice-edit input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.indoor_detail .collapse-links {
    padding: 17px 12px;
}

.indoor_detail .procedure-data {
    /*font-style: italic;*/
    /* color: #546e7a; */
    font-size: 12px;
    /*margin-top: 10px;*/
    /* margin-bottom: 4px; */
    cursor: pointer;
    /* padding-left: 10px; */
}

.row .col-md-11.name-title {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.indoor_detail .card {
    transition: 0s !important;
}

.indoor_detail .patient_name {
    /*height: 100px;*/
    margin-bottom: 10px !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
}

.indoor_detail .room_add {
    margin-bottom: 10px !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.indoor_detail .room_add i {
    margin: 0 auto;
    vertical-align: middle;
    color: #9ca683 !important;
    line-height: 40px;
}

.indoor_detail .left-border {
    border-left: 2px solid;
    margin-top: 8px;
    padding-left: 10px;
    width: 100%;
}

.indoor_detail .left-border.discharge {
    border-left: 2px solid #00cfd1;
    margin-top: 8px;
    padding-left: 10px;
    width: 100%;
}

.indoor_detail .indoor-read-more {
    font-weight: 600;
    color: #546e7a;
    font-size: 11px;
}

.indoor_detail .indoor-patient-name {
    margin-top: -5px;
}

.patient_list.card .header.custom-dropdown .header-dropdown li .dropdown-menu {
    padding: 5px;
    overflow: hidden;
    right: 38px !important;
    left: auto !important;
    transform: none !important;
    top: -13px !important;
    border: 1px solid #000;
    width: auto !important;
}

.patient_list.card .header.custom-dropdown .header-dropdown li .dropdown-menu li a {
    cursor: pointer;
    display: inline !important;
}

.patient_list.card .header.custom-dropdown .header-dropdown li .dropdown-menu li a:hover {
    color: #4bcfd1;
    background: #fff;
}

.card .header.custom-dropdown .header-dropdown li .dropdown-menu {
    padding: 5px;
    overflow: hidden;
    right: 38px !important;
    left: auto !important;
    transform: none !important;
    top: -13px !important;
    border: 1px solid #000;
    width: auto !important;
}

.card .header.custom-dropdown .header-dropdown li .dropdown-menu li,
.patient_list.card .header.custom-dropdown .header-dropdown li .dropdown-menu li {
    display: inline !important;
}

.card .header.custom-dropdown .header-dropdown li .dropdown-menu li a {
    cursor: pointer;
    display: inline !important;
}

.card .header.custom-dropdown .header-dropdown li .dropdown-menu li a:hover {
    color: #4bcfd1;
    background: #fff;
}

.patient_name.card .header.custom-dropdown .header-dropdown li .dropdown-menu {
    overflow: visible !important;
}

.indoor_detail .header .header-dropdown {
    position: absolute;
    top: 14px;
    right: 20px;
    list-style: none;
}

.indoor_detail .header .header-dropdown .dropdown-menu[x-placement^=bottom] {
    right: 0 !important;
}

.indoor_detail .header .header-dropdown i {
    font-size: 20px;
    color: #9e9e9e;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.indoor_detail .patient_name .header .header-dropdown {
    position: absolute;
    top: -4px;
    right: -8px;
    list-style: none;
}

.indoor_detail .patient_name .header .header-dropdown .dropdown .dropdown-menu {
    border: none;
    right: 0 !important;
    top: 20px !important;
}

.indoor_detail .patient_name .header .header-dropdown .dropdown .dropdown-menu li {
    display: block !important;
}

.incomplete-invoice {
    border: 1px solid #ee2200 !important;
}

.patient-data-list {
    margin-top: 50px;
}

.cutdeposit i {
    margin: 0 auto;
    vertical-align: middle;
    cursor: pointer;
}

#depositamt {
    line-height: 2.9;
}

.lessamterror {
    color: red;
    font-size: 12px;
}

.sidebar .menu .list.sidemenu_list li.active>:first-child span,
.card .body .table th,
.card .header h2 strong,
.welcome strong,
.dashboard .body strong,
.user-data .badge,
.patient-deposits th,
.event-display .title,
.dashboard-donut-chart svg text tspan,
.category-data .badge,
.profile-page strong,
.badge.is-discharge-card,
.dtp table.dtp-picker-days tr>td,
.dtp table.dtp-picker-days tr>td,
.dtp table.dtp-picker-days tr>th,
.dtp div.dtp-picker text,
.bootstrap-select.btn-group .dropdown-menu li a,
.daterangepicker .drp-buttons .btn  {
    font-weight: 500 !important;
}
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td,
.sweet-alert h2,
.badge.is-bill,
.modal-content .modal-header .title,
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
    font-weight: 500;
}

/* css for appointment index page*/


input[type=number]::-webkit-inner-spin-button,
input[type=number] {
    -webkit-appearance: none;
    margin: 0;
}

.appointment .total-opd {
    font-size: 14px !important;
    height: 70% !important;
    line-height: 25px !important;
    font-weight: 500 !important;
    color: #9ca683 ;
    border-color: #9ca683 ;
}

.appointment .dtp {
    z-index: 9999999 !important;
}

.appointment .popover {
    z-index: 999999;
}

.appointment .modal-body .row {
    margin-left: 0px !important
}

/* css for hormon index page*/
.hormon .hormon-row {
    margin-bottom: 10px !important;
}

.hormon .hormon-width-100 {
    width: 100% !important;
}

.hormon .plr-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.hormon .h-60 {
    height: 60px;
}

.hormon .mt-18 {
    margin-top: 18px;
}

.hormon .mt-30 {
    margin-top: 30px;
}

/* css for appointment create and edit page*/

/* css for holiday index page*/

.holiday .holiday-btn {
    margin: 5px !important;
}

.income .dropdown-menu {
    max-height: 200px !important;
}

/* css for invoice create page*/

.invoice-add .payment .payment-mode {
    border: 1px solid #E3E3E3;
    border-left: none;
}

.invoice-add .payment {
    margin: 0;
}

/* css for invoice edit page*/

.invoice-edit .payment .payment-mode {
    border: 1px solid #E3E3E3;
    border-left: none;
}

.invoice-edit .payment {
    margin: 0;
}

/* css for indoor patient index page*/

.indoor_detail .header .header-dropdown {
    position: absolute;
    top: 14px;
    right: 20px;
    list-style: none;
}

.indoor_detail .header .header-dropdown .dropdown-menu[x-placement^=bottom] {
    right: 0 !important;
}

.indoor_detail .header .header-dropdown i {
    font-size: 20px;
    color: #9e9e9e;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.indoor_detail .patient_name .header .header-dropdown {
    position: absolute;
    top: -4px;
    right: -8px;
    list-style: none;
}


/* css for cut  report data page*/
.cut .table td,
.table th,
.table tr,
.table thead th {
    line-height: 14px !important;
}

/* css for refdr report data page*/
.refdoctor .table td,
.table th,
.table thead tr th {
    line-height: 14px !important;
}

/* css for anc create  page*/

.anc .input-group-addon {
    color: #a0a0a0 !important;
    font-size: small !important;
}

.anc .form-label {
    padding: 0px 10px 0px 10px !important;
    color: black;
}

.vertical-form-label,
.iui .vertical-form-label,
.iui-history .vertical-form-label,
.ivf .vertical-form-label {
    padding: 8px 10px 0px 10px !important;
}

.anc .same,
.iui .same,
.iui-history .same,
.ivf .same {
    margin-right: 30px;
}


.anc .pr-0,
.iui .pr-0,
.iui-history .pr-0,
.ivf .pr-0  {
    padding-right: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.anc .complain-multi>.co_value_data.multi,
.iui .complain-multi>.co_value_data.multi,
.iui-history .complain-multi>.co_value_data.multi,
.ivf .complain-multi>.co_value_data.multi,
.appointment .complain-multi>.co_value_data.multi,
.report-table tbody tr td,
.indoor .complain-mulit>.co_value_data.multi {
    padding: 5px !important;
}

.anc .selectize-input {
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 17px !important;
    padding-left: 16px;
    padding-right: 16px;
}

.anc .selectize-dropdown-content {
    height: auto !important;
    font-size: 13px !important;
    line-height: 24px !important;
}

.anc .selectize-dropdown {
    height: auto !important;
    z-index: 1000 !important;
    width: 100% !important;
    margin-top: 11px !important;
    background: #fff !important;
}

.anc .ut-g-sac-symbol {
    font-weight: bold;
    font-size: 25px;
}

/* css for expence index page*/
.expense .form-group,
.report .form-inline .form-group,
.income .form-inline .form-group,
.holiday .form-inline .form-group,
.appointment .form-inline .form-group {
    flex: none !important;
}

/* css for iul  create page*/

.iui .is-conceived,
.iui-history .is-conceived,
.ivf .is-conceived,
.anc .is-conceived {
    margin-top: 7px;
}
.iui .input-group-addon {
    color: #a0a0a0 !important;
    font-size: small !important;
}

.iui .form-label {
    padding: 0px 10px 0px 10px !important;
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.iui .selectize-input {
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 17px !important;
    padding-left: 16px;
    padding-right: 16px;
}

.iui .selectize-dropdown-content {
    height: auto !important;
    font-size: 13px !important;
    line-height: 24px !important;
}

.iui .selectize-dropdown {
    height: auto !important;
    z-index: 1000 !important;
    width: 100% !important;
    margin-top: 11px !important;
    background: #fff !important;
}

.iui .ut-g-sac-symbol {
    font-weight: bold;
    font-size: 25px;
}

/* css for iui history page*/

.iui-history .dropdown-menu ul,
.ivf .dropdown-menu ul  {
    max-height: 140px !important;
}

.iui-history .input-group-addon {
    color: #a0a0a0 !important;
    font-size: small !important;
}

.iui-history .form-label {
    padding: 0px 10px 0px 10px !important;
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.iui-history .selectize-input {
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 17px !important;
    padding-left: 16px;
    padding-right: 16px;
}

.iui-history .selectize-dropdown-content {
    height: auto !important;
    font-size: 13px !important;
    line-height: 24px !important;
}

.iui-history .selectize-dropdown {
    height: auto !important;
    z-index: 1000 !important;
    width: 100% !important;
    margin-top: 11px !important;
    background: #fff !important;
}

.iui-history .ut-g-sac-symbol {
    font-weight: bold;
    font-size: 25px;
}

/* css for ivf create page*/

.ivf .input-group.input-group-focus .input-group-addon,
.iui-history .input-group.input-group-focus .input-group-addon,
.anc .input-group.input-group-focus .input-group-addon,
.input-group.input-group-focus .input-group-addon {
    border-color: #9ca683;
}

.ivf .input-group-addon {
    color: #a0a0a0 !important;
    font-size: small !important;
}

.ivf .form-label {
    padding: 0px 10px 0px 10px !important;
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.lmd-date-diff {
    color: green !important;
}

.ivf .complain-multi>.co_value_data,
.iui-history .complain-multi>.co_value_data,
.iui .complain-multi>.co_value_data,
.anc .complain-multi>.co_value_data,
.indoor .complain-mulit>.co_value_data,
.btn.btn-icon,
.navbar .navbar-nav>a.btn.btn-icon {
    height: auto !important;
}

.ivf .selectize-input {
    height: 100% !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 17px !important;
    padding-left: 16px;
    padding-right: 16px;
}

.ivf .selectize-input>input,
.iui-history .selectize-input>input,
.iui .selectize-input>input,
.anc .selectize-input>input,
.authentication .card-plain .logo-container,
.selectize-input>input {
    width: auto !important;
}

.ivf .selectize-dropdown-content {
    height: auto !important;
    font-size: 13px !important;
    line-height: 24px !important;
}

.ivf .selectize-dropdown {
    height: auto !important;
    z-index: 1000 !important;
    width: 100% !important;
    margin-top: 11px !important;
    background: #fff !important;
}

.ivf .ut-g-sac-symbol {
    font-weight: bold;
    font-size: 25px;
}

.list-wrapper {
    height: 100%;
    max-height: 390px;
    overflow: auto;
}

.list-wrapper ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 0;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.d-flex {
    display: flex;
}

.list-wrapper ul li {
    font-size: .9375rem;
    padding: 10px;
    border: 1px solid #c9ccd7;
    margin-bottom: 0.812rem;
    border-radius: 7px;
    align-items: center !important;
    display: flex !important;
}

.list-wrapper ul li .form-check {
    max-width: 90%;
    margin-top: .25rem;
    margin-bottom: .25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-wrapper ul li .form-check .form-check-label {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    min-height: 18px;
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.form-check .form-check-label input {
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.form-control.todo-list-input:focus {
    outline: none !important;
    outline-width: 0 !important;
    outline-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

.add-items {
    overflow: hidden;
}

.add-items input[type="text"] {
    width: 100%;
    background: transparent;
    border: 0;
    padding-left: 0;
}

.add-items .btn {
    margin-left: .5rem;
}

.add-items i {
    transform: rotate(0.6turn);
    color: #00cfd1;
}

.add-items .btn:hover {
    box-shadow: none;
}

.list-wrapper .remove {
    cursor: pointer;
    font-size: .7rem;
    font-weight: 600;
    /*width: 1.25rem;*/
    /*height: 1.25rem;*/
    line-height: 1.25rem;
    text-align: center;
    margin-left: auto !important;
}

.list-wrapper .checkbox,
.notes .list-wrapper .checkbox  {
    margin-bottom: 0 !important;
}

#bookpatient-table .is-discharge-card {
    color: #00cfd1 !important;
}

/*css for event module popup image */
.eventImage {
    width: 900px;
    margin: auto;
    text-align: center
}

.eventImage img {
    width: 200px;
    height: 200px;
    cursor: pointer
}

.eventShow {
    z-index: 999;
    display: none;
}

.eventShow .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .66);
    position: absolute;
    top: 0;
    left: 0;
}

.eventShow .img-show {
    margin-top: 300px;
    width: auto;
    height: auto;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden
}

.img-show span {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
}

.img-show img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.user-note .my-note-list {
    text-transform: capitalize !important;
}

.dashboard .card {
    border: 1px solid #dcdedf;
}

.dashboard .left-border {
    border-left: 1px solid #d1d2d3;
}

.dashboard .card-icon {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 38px;
}

.dashboard .card-icon-size {
    background-color: transparent !important;
    font-size: 52px;
}

.dashboard .category-progress {
    font-weight: 500;
    margin-top: -10px;
    font-size: 16px;
}

.report-table .progress-bar {
    background-color: #9ca683 ;
}

.report-table .text-muted {
    width: 15%;
}

.anc-color {
    background-color: #f28c85;
    height: 12px;
    width: 12px;
}

.iui-color {
    background-color: #afc966;
    height: 12px;
    width: 12px;
}

.ivf-color {
    background-color: #f99d4a;
    height: 12px;
    width: 12px;
}

#south-america-chart {
    display: block;
    width: 550px;
    height: 275px;
}

.notes .list-wrapper {
    height: 100%;
    min-height: 400px;
    max-height: 370px;
    overflow: auto;
    margin-bottom: 20px;
}

.notes .list-wrapper ul {
    padding: 0;
    text-align: left;
    list-style: none;
    margin-bottom: 0;
}

.notes .list-wrapper ul li {
    font-size: .9375rem;
    padding: 10px;
    border: 1px solid #c9ccd7;
    margin-bottom: 0.812rem;
    border-radius: 7px;
    align-items: center !important;
    display: flex !important;
}

.notes .list-wrapper ul li .form-check {
    max-width: 90%;
    margin-top: .25rem;
    margin-bottom: .25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.notes .list-wrapper ul li .form-check .form-check-label {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
    min-height: 18px;
    display: block;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.notes .note-text {
    text-decoration: line-through;
    color: #248afd;
}

.notes .list-wrapper .remove {
    cursor: pointer;
    font-size: .7rem;
    font-weight: 600;
    /*width: 1.25rem;*/
    /*height: 1.25rem;*/
    line-height: 1.25rem;
    margin-top: 6px;
    text-align: center;
    margin-left: auto !important;
}

.event .header-dropdown {
    top: -1px !important;

}

.patients-name {
    margin-top: 10px;
    width: 100%;
    font-size: 14px;
    color: #4e4e4e;
}

.iui-result-data .card {
    border: 1px solid #ddd !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) !important
}

.result-card {
    border: 1px solid #ddd !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1) !important;
    background: white !important;
}

.follow-date {
    border-bottom: 1px solid #a9a9a9;
    margin: 0 30px;
    width: 100%;
    padding-bottom: 5px;
    color: #000;
}

.red-border,
.border-highlight,
.form-control-error  {
    border: 1px solid red !important;
}

.total-iui-patients {
    border-top: 1px solid #a9a9a9;
    margin: 10px 30px;
    padding-top: 5px;
}

.call-reminder-edit,.link-color,
.link-color:hover,
.send-sms-through:hover,
.event-dashboard .title,
.patient_detail .displayicons a,
#bookpatient-table .patient-srno.discharge:first-child:before,
.appointment-data tbody tr td.apt-date.opd:first-child:before,
.sidebar .user-info a h4:hover  {
    color: #00cfd1;
}

.admision-consent-form {
    /*border: 2px solid;*/
    padding: 10px;
    font-family: Arial, serif;
}

.admision-consent-form .hospital-address {
    text-align: center;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-weight: bold;
}

.admision-consent-form .indoor-patient-file {
    text-align: center;
    padding: 15px 0;
    font-weight: bold;
}

.admision-consent-form .indoor-patient-file span {
    background-color: #000;
    color: #fff;
    text-transform: capitalize;
    padding: 5px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.patient-details .indoor-details td {
    border-color: #000 !important;
    width: 50%;
}

.patient-details .bottom-border {
    border-bottom: 1px solid #000;
}

.all-date-data {
    margin: 0 15px !important;
}

.all-date-data td {
    border: 1px solid #000;
}

.diagnosis {
    height: 150px;
}

.diagnosis td {
    border: 1px solid #000;
    width: 50%;
}

.bed-number-info {
    border: 1px solid #000;
    margin: 0 2px;
}

.dashboard-sms {
    background: #9ca683;

}
.dashboard-sms p{
    color: #fff;
}

.dashboard-sms strong,
.dashboard-sms .body{
    color: #FFF !important;
    /*padding: 5px 20px;*/
}



.cust-delete-icon-red {
    color: #f96332;
}

.dashboard-sms .button button {
    background: #fff;
    color: black;
}

.card .header h2 {
    font-size: 18px !important;
}

#review-table .review-role-name {
    margin-bottom: 5px;
    text-transform: capitalize;
}

.w_calender ul:nth-of-type(6) li:nth-child(1n+4) {
    color: #424242;
}

.month-days {
    color: #BDC3C7 !important;
}

.dash-patient-review {
    margin-bottom: 20px;
}

.dash-patient-name {
    margin-bottom: 10px;
}

.print-table,
.print-header,
.holiday-title{
    width: 100%;
}

.print-table .font {
    font-size: 28px;

}

.print-table .doctor,
.dashboard-sms .button,
.report .ta-r,
.report .text-right,
.dashboard .amount {
    text-align: right;
}

.print-data {
    word-wrap: break-word;
    width: 100%;
    padding: 28px 28px;
    line-height: 32px;
    text-align: justify;
}


.indoor-deposit .deposit-close-button {
    color: #000000 !important;
    opacity: 1 !important;
    font-weight: 500 !important;
}


.indoor-deposit .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.indoor-deposit .patient-deposits {
    height: 270px;
    overflow: auto;

}

.event-data .editEvent .delete-event {
    height: 40px !important;
}

.countlist .card .body {
    margin: 11px;
    padding: 0px !important;
}

.w_calender .data {
    height: 30px;
    width: 30px;
    padding: 6px;
    background: #9ca683;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
}
.l-amber,
.w_calender span+span,
.w_calender em{
    background: #9ca683;
}
.zmdi-search{
    color: black;
}
.zmdi-search:hover{
    color: #5dc5d2;
}

.anc-images {
    width: 70px;
    height: 70px;
}
.add-row{
    color: white !important;
    padding: 5px !important;
    float: right;
    margin-right: 28px;
    margin-bottom: 21px;
}
.injection-add, .injection-remove
{
    color: white !important;
    padding: 7px !important;
    float: none !important;
    margin-bottom: 5px !important;
}

#appointment-request-table .patient_name,
#review-table .review-patient-name,
.city-area-name,
.new-patients-display tbody tr td,
.invoice-add .name,
.invoice-edit .name{
    text-transform: capitalize;
}

.padding-6{
    padding: 6px !important;
}

.system-setting-favicon {
    width: 40px;
    height: 40px;
}
.system-setting-logo,
.auth-user-img {
    height: 80px;
}
.hospital-address-wrap {
    word-wrap: break-word;
}

.user-achievement {
    padding: 8px !important;
}

.width-40{
    width: 40% !important;
}

.width-80{
    width: 80px !important;
}
.width-125{
    width: 125px !important;
}
.l-green.custom-progress{
    background: linear-gradient(45deg, #9ca683, #45bfb8) !important;
}
.theme-cyan .card .header h2 strong,
.candor-color,.search-border:focus,
.search-border:focus,.cust-delete-icon,
.reviews .zmdi.zmdi-star,
.event-dashboard i,
.add-items i{
    color: #9ca683 ;
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header,
 .btn-primary, .candor-bg-color{
    background-color: #9ca683 ;
    color: #fff !important;
}

.dtp table.dtp-picker-days tr > td > a.selected,
.dtp .p10 > a,
.dtp .dtp-content .dtp-buttons button,
.dtp div.dtp-date, .dtp div.dtp-time{
    background-color: #9ca683 ;
    color: #fff !important;
}

.medicine-data-table tbody tr td,
.medicine-data-table tbody tr td{
    border-top: none !important;
}
.plan-text{
    color: red;
}
.card.dashboard-sms .header h2 > strong,
.final-invoice{
    color: #fff !important;
}
.instruction-filetype{
    font-size: 12px;
    margin-bottom: 20px;
    color: #79858b;
}
.transfer-print {
    color:#fff !important;
}
.btn-ivf-report {
    color: #ffffff !important;
    font-size: 12px !important;
}
/* .date.l-slategray{
    background: #f8ebc0 !important;
} */

.unik-lbl-spn {
    font-size: 12px;
    color: #868484;
}
.form-control.daterange{
    border: 1px solid #E3E3E3 !important;
}

.sa-button-container .confirm{
    background-color: #9ca683 !important;
}
.reviews .zmdi.zmdi-star {
    color: #9ca683 !important;
}
.unik_img_inpt_upd {
    display: block;
}
.unik_img_disp_img {
    max-height: 75px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.unik_img_spn_pip {
    position: relative;
    display: inline-block;
    margin: 25px 15px 0 0;
}
.unik_img_spn_rmv {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    top: -8px;
    box-sizing: border-box;
    right: -7px;
    font-size: 23px;
    color: red;
    background: white;
    width: 21px;
    height: 21px;
    text-align: center;
}
.unik_img_spn_rmv:hover {
    background: white;
    color: #ab0000;
}
.report-image{
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 2px;
}
.ivf-payment-font{
    font-size: 12px;
}
.form-padding{
    padding: 12px;
}
.ivf-remark{
    font-size: 15px;
}
.current-cycle{
    border: 1px solid #9ca683 !important;
}

.ivf-report-model {
    width: 140%;
}

.ivf-report-modal .input-group .input-group-addon {
    padding: 2px 3px 10px 14px !important;
}

.p-total-payment-error{
    margin-left:154px;
}

.anc-dose-val .items{
    background: #fff !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    color: #444;
    line-height: 28px;
    margin-top: 4px;
}
.select2-container--default .select2-selection--single{
    height: 38px;
    background-color: #fff;
    border: 1px solid #E3E3E3;
}
.general-cycle .agreement-menu {
    position: absolute;
    left: -200px;
    top: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
    z-index: 1;
    display: none;
    padding-left: 0;
    padding: 5px;
}
.indoor_detail #agreements:hover .agreement-menu {
    display:block;
}

/* login page eye icon*/
 .card-plain i {
            position: absolute;
        }

        .card-plain {
            width: 100%;
            margin-bottom: 10px;
        }

        .icon {
            /*padding: 40px; */
            margin-top: 18px;
            margin-left: 120px;
            min-width: 40px;
            color: black;
            cursor: pointer;
        }

        .form-control {
            width: 100%;
            padding: 10px;
        }

.width-330{
    width: 330px !important;
}

.width-250{
    width: 250px !important;
}

.deposit-refresh {
    margin: 0;
    padding: 10px;
    border-radius: 0;
}
.width-88{
    width: 88px;
}
.skip-cycle,.fail-cycle{
    border: 1px solid #ee2200 !important;
}
.appointment-selected-tr{
    background-color : rgba(0,0,0,.075);
}

.new-bill{
    border-color: #000000 !important;
    color: #000000 !important;
}
.deposit-border{
    border-color: #00a7c2 !important;
    color: #00a7c2 !important;
}

#add-edit-icon{
    cursor: pointer !important;
}

.edit-remark-icon{
    font-size: 17px !important;
    /* border: 1px solid #9ca683 !important;
    border-radius: 6px !important; */
    padding: 1px !important;
    margin-left: 55px !important;
    cursor: pointer !important;
    color: #9ca683;
}

.pencil-icon{
    font-size: 15px !important;
}
.medicines-table{
    border: 1px solid black;
}

.m-text{
    font-size: 17px;
}

.a-time{
    font-size: 17px !important;
    padding: 1px !important;
    cursor: pointer !important;
    color: #9ca683;
    margin-left: 12px !important;
}

.is-done{
    background-color: rgb(239, 255, 236);;
}
.in-cosulting{
    background-color: rgb(245, 239, 248) !important;
}

.medicine-loader{
    position: unset !important;
}

.green-lable{
    /* color: #0ec86a !important; */
    color: #03c262 !important;
}
.menu-iui-list:after{
    content: '\f2fb' !important;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1) !important;
}
.sidebar .menu .list .menu-toggle.menu-iui-list.toggled:after{
    content: '\f2f9' !important;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1) !important;
}

.center-footer{
    width: 100% !important;
    text-align: center !important;
}

.report-file{
    margin-right: 5% !important;
    margin-bottom: 2% !important;
    display: inline-block !important;
}

.view-report-file{
    text-align: center;
    justify-content: center;
}

.is_arrival{
    background-color: #E9FFFE ;
}

/* select2 css */

.select2 {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-selection--single {
    background-color: #fff;
    border: 1px solid #d8dbe0 !important;
    border-radius: unset !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #ffffff !important;
    border-color: #d8dbe0 !important;
    padding: 1px 10px;
    color: #444 !important;
}

.select2-container--default .select2-selection--multiple {
    color: #768192;
    background-color: #fff;
    border: 1px solid #d8dbe0 !important;
    border-radius: 0.25rem !important;
    cursor: text;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #d8dbe0;
    border-radius: 0px !important;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.remark-text{
    font-size: 18px;
    color: red;
    margin-left: 15px;
}

.collection-modal{
    width: 350px !important;
}
.collection-error-message{
    font-size: 13px;
    margin-left: 5px;
    color: red;
}

 #ovary-table td{
    cursor: pointer;
    border: 1px solid #e2ce0a;
    font-size: 16px;
    line-height: 13px;
}
#overy-table .border-none
{
    border: none !important;
}
.selected-overy-td{
    background-color: #9ca683 !important;
    border-color: #c1b00a !important;
    color: #fff !important;
    /* padding: 5px; */
    /* border-radius: 20px; */
}
/* .odd-padding{
    padding: 0.40rem 0.70rem !important;
} */
.ovary-pre-selected-value{
    background-color: #c1b00a !important;
    color: #fff !important;
    padding: 5px;
    /* border-radius: 20px; */
}

.ovary-pre-selected-value.selected-overy-td{
    background-color: #9ca683 !important;
}

.medicines-checkbox{
    width: 50px !important;
    height: 20px !important;
}
#navbarDropdownMenuLink{
    line-height: 56px;
}
.child-no-box{
    border: 1px solid #eee;
    padding: 10px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.tab-highlight-green{
    background: #d0f9c2 !important;
}

.is-inj .notinject, .isinject{
    display: none;
}
.is-inj .isinject {
    display: block;
}
.no-intrauterine{
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.left-overy-border{
    border-left: 1px solid #ddd;
}
.medicine-data-remove
{
    cursor: pointer;
    padding: 5px;
}
.card .body .follicular-table th,  .card .body .table .follicular-table td{
    padding: .8rem .2rem !important;
    text-align: center !important;
    white-space: inherit !important;
}
.follicular-table tbody, .follicular-table thead
{
    background-color: #f7fdf7 !important;
    -webkit-print-color-adjust: exact;
}
.card .body .follicular-table th{
    white-space: inherit !important;
    font-size: 16px;
    line-height: 18px !important;
    font-weight: bold !important;
}
.follicular-table .visit-lable
{
    font-weight: bold;
    color: black !important;
    font-size: 16px;
    min-width: 195px;
}
.notify-patient{
    background-color:#731414;
    font-size: 12px;
}
.sweet-alert h2 {
    color: #F71B1B !important;
    font-size: 35px !important;
}
.callpatient-category{
    color: #000000 !important;
}
.callpatient-name{
    font-size: 28px !important;
}
.table.follicular-table th, .table.follicular-table td{
    padding: .8rem .2rem !important;
    text-align: center !important;
    white-space: inherit !important;
}
.frozen-table tbody, .frozen-table thead
{
    background-color: #f3fbfa !important;
    -webkit-print-color-adjust: exact;
}
.border-color
{
    border-color: #E3E3E3 !important;
}
.border-1
{
    border: 1px solid;
}
.w-inherit
{
    width: inherit !important;
}
.preview-file-modal .table td, .table th, .table thead tr th
{
    line-height: 20px !important;
}
.preview-file-modal .modal-lg
{
    max-width: 1100px !important;
}
.font-20
{
    font-size: 20px !important;
}
.font-16
{
    font-size: 16px !important;
}
.all_type_payment tbody tr,.all_type_payment th{
line-height: 6px !important;
}



/* all media query*/
@media (min-width: 576px){
    .view-file-modal-dialog,.view-iui-file-modal-dialog {
        max-width: 90% !important;
        margin: 120px auto;
    }
}
.sepreator
{
    border-top: 1px solid black;
    margin-bottom: 25px;
    margin-top:10px;
}
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #1a5154!important;
}
.mySlides {
    display:none;
    height: 350px;
    width: 100%;
}
.border-none
{
    border: none !important;
}
.unik-table
{
    /* table-layout: fixed !important; */
    width: 100% !important;
}
.unik-table.table td, .unik-table.table th
{
    white-space: inherit !important;
    padding: .35rem !important;
    color: #000 !important;
}
.card .body .table th.text-secondary
{
    font-weight: 700 !important;

}
.pick_up_table_tbody,
.pick_up_table_thead
{
    background-color: #eff6f6  !important
}
.line-height
{
    line-height: 20px;
}
.appointment_dropdown {
  position: relative;
  /* display: inline-block; */
}

.appointment_dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 1px 4px 0px rgb(7 96 105);
  padding: 12px 16px;
  z-index: 1;
  width: 420px !important;
  white-space: initial !important;
}
.appointment_dropdown_content p{
    line-height: 1.5em !important;
}
/* .appointment_dropdown:hover .appointment_dropdown_content {
  display: block;
} */
.appoitment_content {
    cursor: pointer;
}
.appointment_dropdown_content.active{
    transform: perspective(1000px) rotateX(0deg);
  }
.notification-menu
{
    max-height: 300px !important;
    overflow: auto !important;
}
li.category-notification
{
    border-left: 3px solid #9ca683;
    padding: 1px 10px !important;
    margin-bottom: 2px !important;
    margin: 7px;
    background-color: white !important;
    margin-left: -35px !important;
}
.dropdown-menu
{
    top: 60px;
    right: 0px;
    left: unset;
    width: 372px;
    box-shadow: 0px 5px 7px -1px #c1c1c1;
    padding-bottom: 0px;
    padding: 0px;
}

.dropdown-menu:before
{
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border:10px solid #9ca683;
    border-color: transparent transparent #9ca683 transparent;
}
.notification-head
{
    padding:10px 15px;
    border-radius: 3px 3px 0px 0px;
    background-color: #f4f4f4;

}
.notification-footer
{
    padding:5px 15px;
    border-radius: 0px 0px 3px 3px;
    background-color: #f4f4f4;
}
.notification-footer a{
    /* border-top: 1px solid #9ca683 !important; */
    padding-top: 5px !important;
}
.notification-box
{
    padding: 10px 0px;

}
i.notify{
font-size: 22px !important;
}
.button__badge {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;

    padding: 1px 3px;
    font-size: 12px;

    position: absolute; /* Position the badge within the relatively positioned button */
    top: -3px;
    right: -3px;
  }
.notification-desc
{
    font-size: 12px !important;
    font-weight: 500 !important;
}
.notification-tabs
{
    border-bottom: 1px solid #9ca683 !important;
}
@media (max-width: 640px)
{
    .dropdown-menu{
    top: 50px;
    left: -16px;
    width: 290px;

    }
}
.theme-cyan .nav-tabs .nav-link.active {
    border: none !important;
    background: #9ca683;
    color: #fff;
}
.nav-tabs .nav-link, .nav-tabs .nav-link:hover{
    color: #000;
}
/* .table thead>tr>th{
    font-size: 13px;
    font-family: roboto-bold;
    border-bottom: 1px solid #dee2e6 !important;
    background: #dee2e6;
} */
.view-file-modal-dialog .follicular-table td,.view-file-modal-dialog .follicular-table th
{
    padding: 0px !important;
    font-size: 16px;
}
.view-file-modal-dialog .follicular-table .visit-lable
{
    font-size: 16px !important;
}
.view-file-modal-dialog .follicular-table,.view-file-modal-dialog .follicular-table div
{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}
.payment-notification
{
    border-left: 3px solid #ec3b57 !important;
}
.upper-border {
    border-top: 1px solid #000000 !important;
}

.ui-widget-content
{
    background: white !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #9ca683 !important;
    background: #9ca683 !important;
    color: white !important;
}
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    background: #9ca683 !important;
}
a.ui-state-default:hover, a.ui-datepicker-prev.ui-corner-all:hover ,a.ui-datepicker-next.ui-corner-all:hover {
    background: #9ca683 !important;
}
.pt-history.card .body .table th,
.pt-history.card .header h2 strong{
    font-weight: 700 !important;
}
.report-notification{
    border-left: 3px solid #9ca683 !important;
}
.anc-iui-ivf-data.table-responsive {
    overflow-x: unset;
}
.attempt-cycle
{
    display: inline-flex;
}
.medicine-given
{
    background-color: rgb(239, 255, 236);
}
.medicine-not-given
{
    background-color: #ffa5a5!important;
}
.blink_me {
    animation: blinker 2s linear infinite;
    color: red;
    font-weight: 900;
  }
  nav li .blink_me:hover{
      background-color: white !important;
      pointer-events: none !important;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .navbar ul li:nth-child(10) a:hover {
    background-color: transparent !important;
}
.navbar .navbar-header {
    margin-right: 20px;
}
.remark-details {
    display: flex;   
}
.remark-details div:nth-child(01) {
    white-space: pre;
    margin-right: 20px;
}
.follicular-table .visit-lable, .follicular-table .visit-lable-value {
    margin: 0;
}
@media(max-width: 1260px){
    .block-header {
        margin-bottom: 40px;
    }
}
svg {
    width: 100%;
}
@media(max-width: 1440px){
    .ped-vaccine {
         max-width: 100%;
         flex: 0 0 100%;
         margin-bottom: 20px;
    }
    .own-income, .ipd-owner {
         max-width: 50%;    
         flex: 0 0 50%;
    }
}

